.about {
    width: 100%;
    height: 100vh;
    padding-top: 25px;
    background-color: #c3c3c3
}
.about-title {
    text-align: center;
    margin-top: 100px;
}
.about-content {
    display: flex;
    height: 100vh;
    justify-content: space-around;
}
.about-img2 {
    background-image: url('../img/moonlight2.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 30%;
    height: 60%;
    border-radius: 50%;
}
.about-discription {
width: 50%;
}

@media only screen and (max-width: 800px){
.about-paragrath {
font-size: 13px;
}

@media only screen and (max-width: 800px){
.about-img2 {  
    width: 30%;
    height: 30%;
    border-radius: 0%
}
}
}