.about {
    width: 100%;
    height: 100vh;
}

.about-title {
    text-align: center;
    margin-top: 100px;
}
.about-content {
    display: flex;
    height: 100vh;
    justify-content: space-around;
}
.about-img2 {
    background-image: url('../img/moonlight2.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 30%;
    height: 80%;

}

.about-discription {
width: 50%;
}
