.skills {
    flex-wrap: wrap;
    background-color: rgb(144, 148, 145);
    padding-top: 110px;
    padding-bottom: 110px;
    text-align: center;
}
 .skills h1 {
   color: rgb(104, 9, 104);
   margin-bottom: 40px;
   margin-top: 0;
   padding: 0;
}
.skills-row {
  display: flex;
  /* flex-basis: 120px; */
  justify-content: space-between;
  width: 15%;
  height: 15%;
  /* display: inline-block; */
  border-radius: 50%;
  color:rgb(135, 141, 135);
  font-size: 36px;
  line-height: 120px
}