.skills {
    background-color: rgb(107, 220, 235);
    padding-top: 110px;
    padding-bottom: 110px;
    text-align: center;
}

 .skills h1 {
   color: rgb(104, 9, 104);
   margin-bottom: 40px;
   margin-top: 0;
   padding: 0;
}