nav {
    display: flex;
    justify-content: space-between;
    background-color: rgb(141, 9, 119);
    align-items: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    top: 0;
    width: 100%;
    overflow: hidden;
    position: fixed;
    opacity: 0.8; 
}

ul a:hover {
    background: #ddd;
    color: black;
  }
  
nav ul {
    list-style: none;
    padding-right: 30px;
}
nav ul li {
  display: inline-block;
  margin-right: 8px;
}
.smoothscroll {
  margin: 30px;
    text-decoration: none;
    color:white;
    font-weight: bold;
}
.nav-links {
  display:flex;
  left: 5%;
  margin: 10px;
  display: block;
}
html {
  scroll-behavior: smooth;
}

.nav-github {
  color: white;
  font-size: 40px;
}
.nav-linkedin {
  color: white;
  font-size: 40px;
}
.nav-email{
  color: white;
  font-size: 40px;
}

@media only screen and (max-width: 1024px) {

}

@media only screen and (max-width: 900px) {
  
}

@media only screen and (max-width: 767px) {
  .nav-github {
    width: 24%;
    margin: 5px;
    
   }
}

@media only screen and (max-width: 480px) {
  
}