nav {
    opacity: .9;
    display: flex;
    justify-content: space-between;
    background-color: rgb(105, 49, 82);
    align-items: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    top: 0;
    width: 100%;
    overflow: hidden;
    position: fixed;
}

ul a:hover {
    background: #ddd;
    color: black;
  }
  
nav ul {
    list-style: none;
    padding-right: 30px;
}
nav ul li {
    display: inline-block;
    margin-right: 8px;
}
nav ul li a {
    text-decoration: none;
    color: bisque;
}
.nav-links {
  display:flex;
  left: 5%;
  margin: 10px;
  display: block;
}
.nav-links i {
  color: black;
}
html {
  scroll-behavior: smooth;
}
.nav-icon {
 width: 5%;
 color: white;
 margin: 5px;
}