nav {
    display: flex;
    background-color: rgb(17, 48, 13);
    align-items: center;
    font-family: sans-serif;
    top: 0;
    position: fixed;
    opacity: 0.8; 
    width:100%;
    justify-content: space-between;
}
  
nav ul {
    list-style: none;
    padding-right: 30px;
}
nav ul li {
  display: inline-block;
  margin-right: 8px;
}
.nav-bar {
  margin: 30px;
    text-decoration: none;
    color:white;
    font-weight: bold;
}
.nav-links {
  display:flex;
  margin: 10px;
}

.nav-link {
  flex: 0;
  color: white;
  font-size: 40px;
  padding: 0 20px;
}

@media only screen and (max-width: 1024px) {

}


@media only screen and (max-width: 800px) {
  nav {
    flex-direction: column;
  }
  nav ul {
    padding: 0;
  }
  .nav-bar {
    margin: 10px;
  }
}