.App {
  text-align: center;
}

.photo {
  width: 30%;
  height: auto;
  margin-bottom: 2em;
}

.mainpage {
  background-color: palegoldenrod
}
.about {
  font-family: 'Courier New', Courier, monospace
}