.footer {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 10vh;
    background-color: rgb(78, 78, 76);
    padding-top: 20px;
}
.footer-github {
    color: white;
    font-size: 25px;
  }
  .footer-linkedin {
    color: white;
    font-size: 25px;
    margin: 30px;
  }
  .footer-email{
    color: white;
    font-size: 25px;
  }
